# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.suo
*.userprefs

# OS
.DS_Store
Thumbs.db

# Rider
.idea/
*.sln.iml

# Unity generated
*.csproj
*.unityproj
*.sln
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
